body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.top {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;

}

.header a {
  gap: 16px;
  color: #E5E7EB;
  font-size: 18px;
}

.header .logo {
  color: #F9FAF8;
  font-size: 24px;
}

.header .links {
  color: #c5c9d2;
  font-size: 18px;
}

.hero {
  display: flex;
  flex: 1;
  
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;

}

.main {
  color: #F9FAF8;
  font-size: 48px;
  flex-direction: column;
}

.secondary {
  color: #c5c9d2;
  font-size: 18px;
}

.hero-right {
  display: flex;
  flex: 1;
  width: 200px;
  height: 200px;
  justify-content: center;
  
  
}

.hero .button {
  padding: 8px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #F9FAF8;
  width: 120px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin-bottom: 16px;
}

.information-header {
  display: flex;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 36px;
} 

.info img {
  width: 150px;
  height: 150px;
  border: 50px blue
}

.information-container {
  display: flex;
  justify-content: center;
  gap: 26px;
}

.info {
  text-align: center;
  max-width: 200px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px 80px;
  
  
}

.quote-main {
  display: flex;
  align-self: center;
  justify-content: center;
  font-style: italic;

}

.quote .signature {
  display: flex;
  justify-content: center;
  align-self:flex-end;
  font-weight: bold;
}

.bottom {
  display: flex;
  padding: 80px 120px;
  justify-content: center;
  align-items: center;

}

.bottom .blue-container {
  display: flex;
  background-color: #3882f6;
  color: #F9FAF8;
  font-size: 10px;
  padding: 40px;
  border-radius: 5px;
  gap: 16px;
  
}

.bottom .box-body {
  font-size: 14px;
}

.bottom .box-end {
  font-size: 10px;
}

.bottom .blue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #3882f6;
  color: #F9FAF8;
  border: 2px solid #E5E7EB;

  width: 80px;
  height: 20px;

  
  
}

.footer {
  background-color: #1F2937;
  padding: 30px 15px;
  margin-bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color:#c5c9d2
  
}